#headline img {
  width:8%;
  position:absolute;
 top: 3vh;
 left: 2vw;
}

#tagline img {
  width: 14%;
  position:absolute;
  top: 6vh;
 left: 1.2vw;
}

#landing img {
 width: 105%;
 position: absolute;
 top: 41vh;
 left: -2vw;
}

body {
background: #FFFCF0;
 }

#house img {
  width:50%;
  position:absolute;
  top: 45vh;
 left: 24vw;
}
#room1 img {
  width:12%;
  position:absolute;
  top: 51.8vh;
 left: 43.5vw;
 opacity: .5;
}

#room1:hover {
  opacity: 0;
}

#room2 img {
  width:11.5%;
  position:absolute;
  top: 63.7vh;
 left: 52.6vw;
 opacity: .5;
}

#room2:hover {
  opacity: 0;
}

#room3 img {
  width:13.5%;
  position:absolute;
  top: 64vh;
 left: 33.2vw;
 opacity: .5;
}

#room3:hover {
  opacity: 0;
}

#rokeby img {
  width:30%;
  position:absolute;
 top: 22vh;
 left: 35vw;
}

#lines img {
  width:100%;
  position:absolute;
 top: -4vh;
 left: 0vw;
}

#click img {
 width: 10%;
 position: absolute;
 top: 90vh;
 left: 45vw;
}

#accordion img {
  width:20%;
  position:absolute;
  top: 54.2vh;
 left: 80vw;
}

#cello img {
  width:20%;
  position:absolute;
  top: 34.7vh;
 left: 42vw;
}

#piano img {
  width:20%;
  position:absolute;
  top: 54vh;
 left: 10vw;
}
