#headline img {
  width:30%;
  position:absolute;
 top: 18vh;
 left: 35vw;
}

#artist img {
  width: 20%;
  position:absolute;
  top: 32vh;
 left: 39vw;
}

/*#house img {
  width:50%;
  position:absolute;
  top: 45vh;
 left: 24vw;
}*/
/*
#click img {
 width: 10%;
 position: absolute;
 top: 85vh;
 left: 45vw;
}*/

body {
background: #FFFCF0;
 }


#rokeby img{
width:60%;
  position:absolute;
  top: 28vh;
 left: 20vw;
 opacity: 0.5;
}