#headline img {
  width:12%;
  position:absolute;
 top: 4vh;
 left: 3vw;
}

#tagline img {
  width: 18%;
  position:absolute;
  top: 9vh;
 left: 2vw;
}

body {
background: #EBE8DB;
  perspective:2200px;
 }

 #piano {
  width:1000px;
  position:absolute;
  top:-25px;
  left:-75px;
}

#sepia {
  width:1000px;
  position:absolute;
  top:-25px;
  left:-75px;
  opacity: .4;
}

#clipper{
  width:900px;
  height:450px;
  overflow:hidden;
  position:absolute;
  top:24vh;
  left:20vw;
  transform:rotate3d(0,0.5,0,-45deg);
}

#name img {
  width: 28%;
  position:absolute;
  top: 80vh;
 left: 60vw;
}

#instrument img {
  width: 33%;
  position:absolute;
  top: 9vh;
 left: 27vw;
}

#location img {
  width: 18%;
  position:absolute;
  top: 13vh;
 left: 39vw;
}

#bottom img {
  width: 105%;
  position:absolute;
  top: 75vh;
 left: -1vw;
}

#house img {
  width: 18%;
  position:absolute;
  top: 80.5vh;
 left: 1vw;
}
